* {
    margin: 0;
    padding: 0;
}


html {
    background-color: '#C7ECFF';
    scroll-behavior: smooth;
}

/* This only changes this particular animation duration */
.second {
    animation-delay: 250ms;
}

.third {
    animation-delay: 500ms;
}

.plain {
    pointer-events: none;
}

.full {
    -webkit-transition: width 0.5s ease-in-out;
    -moz-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    -ms-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}